<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>WELCOME TO MY REST API</h1><br>
    <ul>
        <li>Create and handle patient details in your ward</li>
        <li>Update day to day procedures and records</li>
        <li>Get all information on existing and previous patients</li>
    </ul>
</body>
</html>